@inject BlazorUse BlazorUse

<ul>
    <li>
        <b>UseLog</b>
        <div>
            <button @onclick="@(() => BlazorUse.UseLog("log"))">log</button>
            <button @onclick="@(() => BlazorUse.UseLog("warn", "warn"))">warn</button>
            <button @onclick="@(() => BlazorUse.UseLog("error", "error"))">error</button>
        </div>
    </li>
</ul>

@code {

}